/* src/App.css */

.body-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.left-menu {
  margin-top: 90px;
  flex-shrink: 0;
  position: fixed;
  top: 30px;
}

.main-content {
  margin-left: 240px;
  display: block;
  width: 100%;
  margin-top: 65px;
}

@media screen and (max-width: 899px) {
  .left-menu {
    display: none !important;
  }

  .main-content {
    margin-left: 0;
  }
  .body-container {
    margin-right: 0 !important;
  }
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 15px;
  text-align: center;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}
